# Read csv from a directory path and  .csv

In [77]:
#import numpy as np
import pandas as pd

df = pd.read_csv('C:/Users/Sabrina/Desktop/q3 qnd q4.csv')
df = pd.read_csv('covid.csv')
df.head()

,tweet_id,text,q1_label,q2_label,q3_label,q4_label,q5_label,q6_label,q7_label
0,1.241030e+18,For the average American the best way to tell ...,no,no,no,no,no,no_joke_or_sarcasm,no_not_interesting
1,1.240470e+18,this is fucking bullshit,no,no,no,no,no,no_not_harmful,no_not_interesting
2,1.240720e+18,Can y’all please just follow the government’s ...,no,no,no,no,no,no_not_harmful,no_not_interesting
3,1.241060e+18,No offense but the corono virus disappearing b...,no,no,no,no,no,no_not_harmful,no_not_interesting
4,1.241450e+18,This is the face of someone who just spent 9 h...,no,no,no,no,no,no_not_harmful,no_not_interesting

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0    tweet_id   504 non-null    float64
 1   text        504 non-null    object
 2   q1_label    504 non-null    object
 3   q2_label    363 non-null    object
 4   q3_label    504 non-null    object
 5   q4_label    504 non-null    object
 6   q5_label    363 non-null    object
 7   q6_label    504 non-null    object
 8   q7_label    504 non-null    object
dtypes: float64(1), object(8)
memory usage: 35.6+ KB

# Read file from IO

In [75]:
from io import StringIO,BytesIO

data = ('tweet_id,text,q1_label,q2_label,q3_label,q4_label,q5_label,q6_label,q7_label\n'
'24103,For the average American the best way to tell,no,no,no,no,no,no_joke_or_sarcasm,no_not_interesting\n'
'24047,this is fucking bullshit,no,no,no,no,no,no_not_harmful,no_not_interesting\n'
'24072,Can y’all please just follow the government’s instructionrecess,no,no,no,no,no,no_not_harmful,nointeresting')

df = pd.read_csv(StringIO(data))
df.head()

,tweet_id,text,q1_label,q2_label,q3_label,q4_label,q5_label,q6_label,q7_label
0,24103,For the average American the best way to tell,no,no,no,no,no,no_joke_or_sarcasm,no_not_interesting
1,24047,this is fucking bullshit,no,no,no,no,no,no_not_harmful,no_not_interesting
2,24072,Can y’all please just follow the government’s ...,no,no,no,no,no,no_not_harmful,nointeresting

# read_csv(inbuild functions like usecols,dtype,index_col,escapechar)

In [69]:
df = pd.read_csv(StringIO(data),usecols=['text','q6_label','q7_label','tweet_id'])
df.head()

,tweet_id,text,q6_label,q7_label
0,24103,For the average American the best way to tell,no_joke_or_sarcasm,no_not_interesting
1,24047,this is \f\ucking bullshit,no_not_harmful,no_not_interesting
2,24072,Can y’all please just follow the government’s ...,no_not_harmful,nointeresting

In [50]:
type(df['tweet_id'][1])

str

In [70]:
df = pd.read_csv(StringIO(data),dtype=str)
df.head()

,tweet_id,text,q1_label,q2_label,q3_label,q4_label,q5_label,q6_label,q7_label
0,24103,For the average American the best way to tell,no,no,no,no,no,no_joke_or_sarcasm,no_not_interesting
1,24047,this is \f\ucking bullshit,no,no,no,no,no,no_not_harmful,no_not_interesting
2,24072,Can y’all please just follow the government’s ...,no,no,no,no,no,no_not_harmful,nointeresting

In [58]:
df= pd.read_csv(StringIO(data),index_col =0)
df

,text,q1_label,q2_label,q3_label,q4_label,q5_label,q6_label,q7_label
tweet_id,,,,,,,,
24103,For the average American the best way to tell,no,no,no,no,no,no_joke_or_sarcasm,no_not_interesting
24047,this is fucking bullshit,no,no,no,no,no,no_not_harmful,no_not_interesting
24072,Can y’all please just follow the government’s ...,no,no,no,no,no,no_not_harmful,nointeresting

In [71]:
df= pd.read_csv(StringIO(data),index_col =1)
df

,tweet_id,q1_label,q2_label,q3_label,q4_label,q5_label,q6_label,q7_label
text,,,,,,,,
For the average American the best way to tell,24103,no,no,no,no,no,no_joke_or_sarcasm,no_not_interesting
this is \f\ucking bullshit,24047,no,no,no,no,no,no_not_harmful,no_not_interesting
Can y’all please just follow the government’s instructionrecess,24072,no,no,no,no,no,no_not_harmful,nointeresting

In [72]:
df= pd.read_csv(StringIO(data),index_col =False)
df

,tweet_id,text,q1_label,q2_label,q3_label,q4_label,q5_label,q6_label,q7_label
0,24103,For the average American the best way to tell,no,no,no,no,no,no_joke_or_sarcasm,no_not_interesting
1,24047,this is \f\ucking bullshit,no,no,no,no,no,no_not_harmful,no_not_interesting
2,24072,Can y’all please just follow the government’s ...,no,no,no,no,no,no_not_harmful,nointeresting

In [76]:
df= pd.read_csv(StringIO(data),escapechar='_')
df

,tweetid,text,q1label,q2label,q3label,q4label,q5label,q6label,q7label
0,24103,For the average American the best way to tell,no,no,no,no,no,nojokeorsarcasm,nonotinteresting
1,24047,this is fucking bullshit,no,no,no,no,no,nonotharmful,nonotinteresting
2,24072,Can y’all please just follow the government’s ...,no,no,no,no,no,nonotharmful,nointeresting

# URL to CSV

In [82]:
df = pd.read_csv('https://download.bls.gov/pub/time.series/cu/cu.item',sep = '\t')
df

,item_code,item_name,display_level,selectable,sort_sequence
0,AA0,All items - old base,0,T,2
1,AA0R,Purchasing power of the consumer dollar - old ...,0,T,399
2,SA0,All items,0,T,1
3,SA0E,Energy,1,T,374
4,SA0L1,All items less food,1,T,358
...,...,...,...,...,...
394,SS68023,Tax return preparation and other accounting fees,4,T,352
395,SSEA011,College textbooks,3,T,314
396,SSFV031A,Food at elementary and secondary schools,3,T,122
397,SSGE013,Infants' equipment,3,T,355
398,SSHJ031,Infants' furniture,3,T,165